.uploadBookPopUp{
    min-width: 450px;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#2D2828;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    
    
    
}
.Info{
    width: 450px;
    background-color:#2D2828;
    position: fixed;
    z-index: -7;
    bottom: -120px;
    border-radius: 4px;
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    color: rgb(185, 180, 180);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;


}
.hidden{
    opacity:0;
    
}
.visibility{
    opacity:1;
    
    
}
.fileOk{
    background:none ;
    color: #4eac53;
}
.fileErr{
    background:none ;
    color: #ca4343;
}
.InfoText{}

.uploadBookPopUpProcess{
    margin-top: 10px;
    display: flex;
    flex-direction:row;
}
.uploadBookPopUpProcessActions{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid #3b3838;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    position: relative;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}





.uploadBookPopUpProcessActions:after{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color:rgb(59, 56, 56);
    top: 50%;
    left: 100%;


}
.Finish:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.uploadBookPopUpTitle{
    font-weight: 700;
    font-size: 27px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #ffff;
}

.DragAndDropWrap{
  width: 100%;
  height: 250px;
  padding: 10px;
  padding-top: 10px;
  transition: 1s;
  margin-bottom: 10px;
}

.DragAndDrop{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(59, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.filesNameWrap{
    padding: 5px;
    max-width: 400px;
    text-align: center;
    white-space: normal;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color:#1f1d1d;
    display: grid; 
    grid-template-columns: 1fr  ; 
    grid-template-rows: 1fr  ; 

}
.filesName{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #4eac53  ;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.navWrapper{
    display: flex;
    flex-direction:row
}
.Input{
    color: rgb(175, 50, 50) !important;
}
