.wrapperFile {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	margin-left: 70px;
	margin-top: 20px;
}

.cover img {
	width: 300px;
	margin-bottom: 10px;
}
.cover {
	width: 300px;
	margin-bottom: 10px;
}
.description {
	margin-left: 40px;
}
.descriptionText {
	white-space: nowrap;
	padding-bottom: 30px;
}
.descriptionTitle {
	font-size: 30px;
	font-weight: 800;
	white-space: nowrap;
}

.readBtnWrap {
	background-color: #2d2828;
	margin-bottom: 20px;
}

.readBtnWrap .readBtn {
	width: 100%;
	height: 40px;
}
.readBtn {
	cursor: pointer;
	border: 1px solid #2d2828;
	background-color: rgb(255, 255, 255);
	transform: translate(-10px, 10px);
	-webkit-transform: translate(-10px, 10px);
	-moz-transform: translate(-10px, 10px);
	-ms-transform: translate(-10px, 10px);
	-o-transform: translate(-10px, 10px);
	transition: 250ms;
	-webkit-transition: 250ms;
	-moz-transition: 250ms;
	-ms-transition: 250ms;
	-o-transition: 250ms;
	color: #2d2828;
}
.readBtn:hover {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	background-color: #2d2828;
	color: #ffff;
	border: none;
}

.readBtn span {
	font-size: 20px;
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
}

@media screen and (max-width: 760px) {
	.wrapperFile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		margin-left: 0px;
		margin-top: 20px;
	}
	.description {
		margin-left: 0px;
	}
}
