.errorWrraper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}

.errorText {
    font-weight: 700;
    font-size: 34px;
    padding-bottom: 10px;
    animation: errorText 250ms ease-in-out ;
    -webkit-animation: errorText 250ms ease-in-out ;
}

.refreshButton {
    position: fixed;
    left: 0;
    bottom: 0;
    animation: errorButton 250ms ease-in-out ;
    -webkit-animation: errorButton 250ms ease-in-out ;
}

@keyframes errorText {
    0% {
        opacity: 0;
        transform: translate(0px, -20px);
        -webkit-transform: translate(0px, -20px);
        -moz-transform: translate(0px, -20px);
        -ms-transform: translate(0px, -20px);
        -o-transform: translate(0px, -20px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }
}
@keyframes errorButton {
    0% {
        opacity: 0;
        transform: translate(0px, 20px);
        -webkit-transform: translate(0px, 20px);
        -moz-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
        -o-transform: translate(0px, 20px);
}
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }
}
