.wrraperButtonNextPage{
    position: fixed;
    right: 0;
    top: 50%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    
    
    
}
.wrraperButtonBackPage{
    position: fixed;
    left: 0px;
    top: 50%;
}