.Header {
    background-color: #2d2828;
    width: 100%;
    height: 60px;
}
.headers {
    display: inline-block;
    text-transform: uppercase;
    color: #ffff;
    margin-left: 20px;
    margin-top: 5px;
}









.UploadFileAnimation-enter {
    opacity: 0;
  }
  .UploadFileAnimation-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .UploadFileAnimation-exit {
    opacity: 1;
  }
  .UploadFileAnimation-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }