.Header {
    background-color: #2d2828;
    width: 100%;
    height: 60px;
}
.headers {
    display: inline-block;
    text-transform: uppercase;
    color: #ffff;
    margin-left: 20px;
    margin-top: 5px;
}



.wrraperHome {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: 400px ;
    margin-top: 40px;
    margin-left: 30px;
}



.WrraperButton{
    width: 400px;
    height: 60px;
    position: fixed;
    z-index: 4;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction:row;
}





.UploadFileAnimation-enter {
    opacity: 0;
  }
  .UploadFileAnimation-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .UploadFileAnimation-exit {
    opacity: 1;
  }
  .UploadFileAnimation-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }