.wrraperPagination {
	display: flex;
	flex-direction: row;
	position: fixed;
	left: 50%;
	bottom: 0px;
	background-color: #ffff;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	border: 2px solid rgb(59, 56, 56);
	border-radius: 10px 10px 0px 0px;
	border-bottom: none;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-ms-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}
.wrraperPaginationHide {
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	left: 50%;
	position: fixed;
	opacity: 0;
	display: flex;
	flex-direction: row;
	position: fixed;
	bottom: -100px;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	border: 2px solid rgb(59, 56, 56);
}

.paginationVisibleButton {
	position: fixed !important;
	bottom: 10px !important;
	right: 30px !important;
	transition: 250ms !important;
	-webkit-transition: 250ms !important;
	-moz-transition: 250ms !important;
	-ms-transition: 250ms !important;
	-o-transition: 250ms !important;
	opacity: 1;
	display: block;
	background-color: black;
}

.paginationUnVisibleButton {
	position: fixed !important;
	bottom: 10px !important;
	right: 30px !important;
	transition: 250ms !important;
	-webkit-transition: 250ms !important;
	-moz-transition: 250ms !important;
	-ms-transition: 250ms !important;
	-o-transition: 250ms !important;
	opacity: 0;
	display: none;
}

.PaginationHideButton {
	padding-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
